<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                My name is Abdallah Boutrif, aka Bib, and I am a French national that studied abroad in the UK. I am currently living and working in Bratislava, Slovakia. I am a general gameplay / UI programmer focused on C++ and UE. <br>I am currently employed at <img src="https://i.imgur.com/CZ8gEN6.png" alt="GamesFarmIcon" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;"><a href="https://www.games-farm.com/">GamesFarm</a> and have worked on the following titles: <img src="https://i.imgur.com/9ZItmEm.png" alt="CommandosIcon" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;"><a href="https://store.steampowered.com/app/1479730/Commandos_Origins/">Commandos: Origin</a> and <img src="https://i.imgur.com/fBw5rE2.png" alt="DuneAwakeningIcon" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;"> <a href="https://store.steampowered.com/app/1172710/Dune_Awakening/">Dune: Awakening</a>.
            </p>
            <p class="paragraph-text justify-text">
                I am a passionate gamer who absolutely loves video games, fitness, books and technology and wished I had Hermiones' Time Turner. I have always wanted to partake in crafting amazing memories that will drive and motivate people as it did me.
            </p>
            <p class="paragraph-text justify-text">
                You can find more information on some of the older projects on this: <a href="{{ site.blog_url }}">site</a> and also on my <a href="https://github.com/{{ site.github_username }}">GitHub</a>. 
                My contact details can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
