<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                My name is Abdallah Boutrif, aka Bib, and I am a French national that studied abroad in the UK. I am currently living and working in Bratislava, Slovakia. I am a general gameplay / UI programmer focused on C++ and UE. I am currently employed at GamesFarm and working on the Commandos Origins title since 2023.
            </p>
            <p class="paragraph-text justify-text">
                I am a passionate gamer who absolutely loves video games, fitness, books and technology and wished I had Hermiones' Time Turner. I have always wanted to partake in crafting amazing memories that will drive and motivate people as it did me.
            </p>
            <p class="paragraph-text justify-text">
                You can find more information on some of the older projects on this: <a href="{{ site.blog_url }}">site</a> and also on my <a href="https://github.com/{{ site.github_username }}">GitHub</a>. 
                My contact details can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
