<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                My name is Abdallah Boutrif, aka Bib, and I am a French national that studied abroad in the UK. I am currently living and working in Bratislava, Slovakia. I am a gameplay / UI programmer focused on C++ and UE. <br>I am currently employed at <img src="https://i.imgur.com/1cC4wfs.png" alt="GripStudiosIcon" style="width:32px; height:16px; vertical-align:middle; margin-right:5px;"><a href="https://grip-studios.com/">Grip Studios</a> working on a unannounced AAA title.
            </p>
            <p class="paragraph-text justify-text">
             <b>CREDITED PROJECTS</b>
              </p>
<div style="text-align: center; margin-bottom: 20px;">
  <a href="https://store.steampowered.com/app/1172710/Dune_Awakening/" target="_blank">
    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1172710/e934cbd04b40a615b3306797bd7be76610904f0e/header.jpg?t=1746735447"
         alt="Dune Awakening"
         style="width: 460px; height: 215px;">
  </a>
</div>

<div style="text-align: center;">
  <a href="https://store.steampowered.com/app/1479730/Commandos_Origins/" target="_blank">
    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1479730/header.jpg?t=1745326682"
         alt="Commandos Origins"
         style="width: 460px; height: 215px;">
  </a>
</div>

            <p class="paragraph-text justify-text">
                I am a passionate gamer who absolutely loves video games, fitness, books and technology and wished I had Hermiones' Time Turner. I have always wanted to partake in crafting amazing memories that will drive and motivate people as it did me.
            </p>
            <p class="paragraph-text justify-text">
                You can find more information on some of the older projects on this: <a href="{{ site.blog_url }}">site</a> and also on my <a href="https://github.com/{{ site.github_username }}">GitHub</a>. 
                My contact details can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
